body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.skip-link {
    position: absolute;
    left: -9999px;
}

.skip-link:focus {
    left: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

img {
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.05);
}

/* Additional styles for borders based on nth-child */
.grid img:nth-child(odd) {
    border: 2px solid blue;
}

.grid img:nth-child(even) {
    border: 2px solid green;
}
